{% assign leaderships = site.data.data.leaderships %}
{% if leaderships %}
<section class="section leaderships-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ leaderships.title }}
  </h2>

  {% if leaderships.intro %}
  <div class="intro">
      <p>{{ leaderships.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for leader in leaderships.assignments %}
    <div class="item">

      <span class="leadership-title">
        <a href="{{ leadership.link }}">{{ leadership.title }}</a>
      </span>

      {% if leadership.tagline %}
      - <span class="leadership-tagline">{{ leadership.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
